<div class="modal" tabindex="-1" role="dialog" id="followpopup" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5><b>Group</b></h5>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!--<div>
          <p>{{textemplty}}</p>
        </div>-->
        <!--<div class="w3-container" ng-if="followers?.length > 0" *ngFor="let fl of followers">
          <img class="w3-round w3-margin-right" src="https://www.w3schools.com/w3images/avatar3.png" style="width:15%; float:left;"><span class="w3-opacity w3-large">{{fl.person_name}}</span>
          <p>Welcome!</p>
        </div>-->
        <div class="w3-container" >
          <img class="w3-round w3-margin-right" src="https://www.w3schools.com/w3images/avatar3.png" style="width:15%; float:left;"><span class="w3-opacity w3-large"></span>
          <p>Welcome!</p>
        </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>-->
      </div>
    </div>
  </div>
</div>