<app-afterlogin-menu></app-afterlogin-menu>
<fieldset>
  <div class="container">
    <!-- Latest Top Three Searches Box Starts-->
    <div class="row" *ngIf="records">
      <div class="hero-01" *ngFor="let x of records; let rowIndex = index">
        <div class="hero-border">
          <div class="top"></div>
          <div class="bottom"></div>
          <div class="left"></div>
          <div class="right">
            <div class="v-area">
              <div class="v-middle  show-span">
                <div class="p5" id="label-menu">
                  <span>{{rowIndex + 1}} - </span>
                  <span></span>
                  <span>S</span>
                  <span>E</span>
                  <span>A</span>
                  <span>R</span>
                  <span>C</span>
                  <span>H</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-hero">
          <div class="v-content">
            <h4 class="font-normal">Location : {{x.location}}</h4>
            <h4 class="myname">Time : {{x.time_from}} - {{x.time_to}}</h4>
            <h4 class="font-normal with-line">Date : {{x.date}}</h4>
            <p>
              <a class="btn btnc1">
                <span (click)="onClickEditSearch(x.matchKey);">Edit</span>
              </a> 
              <a class="btn btnc1">
                <span (click)="onClickDeleteBtn(x.matchKey);">Delete</span>
              </a>
              <a class="match_class">
                <span (click)="getMatchingRecords(x.matchKey,x.location,x.date);">3 match</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Latest Top Three Searches Box Ends-->

    <!-- Test POPUP Box Starts -->
    <!--<div id="testboxpopup">
      <app-renderpopup></app-renderpopup>
    </div>-->
    <!-- Test POPUP Box Starts -->

    <!-- Hiddden Follower Div to delete Start-->
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="w3-container">
              <h5>Are you sure to delete this search from your list? {{matchDelKey}}</h5>
            </div>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="onCloseHandled()" >No</button>
            <button type="button" class="btn btn-default" (click)="onDeleteCurrentSearch(matchDelKey)" >Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Hiddden Follower Div to delete Ends-->
    
    <!-- Modal To show no of matches List Starts -->
    <div id="myModal" class="modal" [ngStyle]="{'display':displayMatchModel}">
        <!--<app-renderpopup></app-renderpopup>-->
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Matching with your search</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="onCloseHandled()">&times;</button>
          </div>
          <div class="w3-container" ng-if="recordsAll?.length > 0" *ngFor="let fl of recordsAll">
            <div class="clsLeft">
              <img class="w3-round w3-margin-right" src="https://www.w3schools.com/w3images/avatar3.png" style="width:10%; float:left;">
            </div>
            <div class="clsLeft">
              <span class="w3-opacity w3-large">{{fl.person_name}}</span>
            </div>
            <div class="clsLeft">
              <button class="btn btnClsXs btn-info btn-xs" *ngIf="fl.fBtn==0" (click)="addFollowerList(fl.f_id);">follow</button>
              <button class="btn btnClsXs btn-info btn-xs" *ngIf="fl.fBtn==1" (click)="messageFollower(fl.f_id);">Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal To show no of matches List Ends -->
    
    <div class="row">
      <app-newsearchform (myEvent)="onNewValSubmit($event)" [matchKey]="matchKey"></app-newsearchform>
      <app-newsearchformlist [master]="master"></app-newsearchformlist>
    </div>
  </div>
</fieldset>