<div class="w3-card w3-round w3-white" style="border:1px solid black;">
  <div class="w3-container">
   <h4 class="w3-center">{{profilename}}</h4>
   <p class="w3-center"><img src="https://www.w3schools.com/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
   <hr>
   <p><i class="material-icons">person_pin_circle</i> {{address1}}, {{address2}}</p>
   <p> {{state}}, {{country}}</p>
   <p> {{zipcode}}</p>
   <p><i class="material-icons">contact_phone</i> {{phone}}</p>
  </div>
</div>