.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

#leftmenuinner {
    position: fixed;
    padding-bottom: 0;
    height: 100%;
    width: 328px;
    background-color: transparent;
}

#leftmenuinnerinner {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidenav a {
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 10px;
}

#sidenav a:hover, #sidenav a:focus {
    color: #000000;
    background-color: #cccccc;
}

#sidenav a.activeCls {
    background-color: #4CAF50;
    color: #ffffff;
}

